header {
    background-color: var(--bg-300);
    width: 100%;
    padding: 20px 32px;
    display: flex;
    justify-content: center;
  }
  
  nav {
    max-width: 1216px;  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  nav a {
    text-decoration: none;
  }
  
  .navigation{
    display: flex;
    gap:80px
  
  }
  
  .navigation li {
    display: inline-block;
  }
  
  .navigation li a {
    color: var(--primary-100);
    font-family: monospace;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    display: flex;
    justify-content: space-around;
  }
  
  .navigation li {
    list-style: none;
  }
  
 .button-90{
      color:var(--bg-300);
      padding: 10px 25px;
      border-radius: 50px;
      background-color: #1e2022;
      font-weight: bold;
      font-size: 18px;
      font-family: monospace;
    
      border: 0;
    
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    
      cursor: pointer;
  }
  
.button-90:hover{
    color: #000;
    background-color: var(--bg-100);
  }