* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

:root {
  --primary-100: #272343;
  --primary-200: #788e98;
  --primary-300: #F0F5F9;
  --accent-100: #788189;
  --accent-200: #e1e4e6;
  --text-100: #1E2022;
  --text-200: #52616B;
  --bg-100: #FFFFFF;
  --bg-200: #E3F6F5;
  --bg-300: #BAE8E8;

}

body {
  background-color: var(--primary-300);
}

header {
  margin: 2rem 22rem;
}

nav {
  display: flex;
  justify-content: space-between;

}

nav a {
  text-decoration: none;
}

.logo {
  color: var(--text-200);
  font-family: monospace;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
}

.navigation li {
  display: inline-block;
  margin-right: 3rem;
  padding-top: 0.5rem;
}

.navigation li a {
  color: var(--primary-100);
  font-family: monospace;
  font-size: 1.1rem;
  font-weight: 400;
  display: flex;
  justify-content: space-around;

}

li {
  list-style: none;
}

#line-horizontal {
  width: 100%;
  border: 1px solid var(--bg-100);
}


section {
  margin:12rem 22rem;
}

article {
  width: 48rem;
}

h2 {
  color: var(--primary-100);
  font-family: monospace;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.2rem;
  margin-bottom: 2rem;
}

.sub-text {
  width: 36.5rem;
}

h3 {
  color: var(--primary-200);
  font-family: Courier;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8rem;
}

.button-cv {  
  outline: 0;
  grid-gap: 8px;
  align-items: center;
  background-color: var(--bg-300);
  color: var(--text-100);
  border: 1px solid var(--primary-100);
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  font-size: 16px;
  gap: 8px;
  justify-content: center;
  overflow: hidden;
  padding: 15px 80px;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all .14s ease-out;
  white-space: nowrap;
  margin-top: 3.5rem;
}

.button-cv:hover {
  box-shadow: 4px 4px 0 var(--primary-100);
  transform: translate(-4px,-4px);
}

.button-cv:focus-visible{
  outline-offset: 1px;
}