.carousel-container {
  max-width: 1500px;
  overflow: hidden;

}

.carousel {
  display: flex;
  animation: scroll 20s linear infinite; 
}

.carousel-item {
  width: 500px; /* Largura de cada item do carrossel */
  height: 300px; 
  background-size: cover;
  /* Redimensiona a imagem para cobrir todo o container */
  background-position: center;
  /* Centraliza a imagem horizontal e verticalmente */
  background-repeat: no-repeat;
}

.carousel-item img {
  padding-right: 20px;
  width: 450px; /* Garante que a imagem ocupe todo o espaço disponível no container */
  height: 80%; /* Garante que a imagem ocupe todo o espaço disponível no container */
  object-fit: cover; /* Redimensiona a imagem para cobrir todo o espaço disponível */
}

@keyframes scroll {
  0% {
    transform: translateX(2);
    /* Começa sem translação */
  }

  100% {
    transform: translateX(-100%);
    /* Translada para a esquerda para mostrar o próximo item */
  }
}