.container {
    margin: 12rem 22rem;
  }
  
  .container article {
    width: 48rem;
  }
  
  .container h2 {
    color: var(--primary-100);
    font-family: monospace;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3.2rem;
    margin-bottom: 2rem;
  }
  
  .container .sub-text {
    width: 36.5rem;
  }
  
  .container .sub-text h3 {
    color: var(--primary-200);
    font-family: Courier;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8rem;
  }
  
  .container .button-cv {
    font-weight: bold;
    outline: 0;
    grid-gap: 8px;
    align-items: center;
    background-color: var(--bg-300);
    color: var(--text-100);
    border: 1px solid var(--primary-100);
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-size: 16px;
    gap: 8px;
    justify-content: center;
    overflow: hidden;
    padding: 15px 40px;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all 0.14s ease-out;
    white-space: nowrap;
    margin-top: 3.5rem;
  }
  
  .container .button-cv:hover {
    box-shadow: 4px 4px 0 var(--primary-100);
    transform: translate(-4px, -4px);
  }
  
  .container .button-cv a {
    text-decoration: none;
    color: #1e2022;
  }
  
  .container .button-cv:focus-visible {
    outline-offset: 1px;
  }